.about{
    .title-head{
        span{
            padding: 0 0.5em;
            @include min-screen($break_point_min){
                padding: 0 1em;
            }
        }
    }
    figure{
        @include min-screen($break_point_min){
            width: 490px;
            float: left;
            margin: 0 20px 20px 0;
        }
    }
}

.ja .about{
    .sec-child{
        p{
            margin-bottom: 20px;
        }
        li{
            list-style-type: disc;
            margin-bottom: 10px;
            margin-left: 20px;
            line-height: 2;
        }
        a{
            color: $blue2;
        }
    }

}
