.contact{
    
    .entry-header, .entry-footer{
        display: none;
    }


        input[type ="text"], input[type ="email"]{
            width: 100%;
            @include min-screen($break_point_min) {
               width: auto;
                }
        }

}