.members{
    .entry-header, .entry-footer{
        display: none;
    }
    .title-head{
        width: 90%;
        display: block;
        margin: 0 auto 40px;
        @media screen and (min-width: 736px){
            width: 400px;
        }
    }
    .title-blue{
        margin-top: 0;
    }
    .two-columns{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include min-screen($break_point_min) {
            flex-direction: row;
          }
        .column{
            @include min-screen($break_point_min) {
                width: 45%;
              }
            li{
                list-style-type: disc;
                list-style-position: inside;
                margin-bottom: 10px;
            }
        }
    }
}