.members{
    .entry-header, .entry-footer{
        display: none;
    }
    .title-head{
        width: 90%;
        display: block;
        margin: 0 auto 40px;
        @media screen and (min-width: 736px){
            width: 400px;
        }
    }
    .title-blue{
        margin: 50px auto 20px;
    }
    .title-head__sub{
        margin: 50px auto 40px;
    }
            .members-list li{
                list-style-position: inside;
                margin-bottom: 15px;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: 1px solid $gray;
                @media screen and (min-width: 736px){
                margin-bottom: 10px;
                flex-direction: row;
                }
                span{
                    margin-bottom: 10px;
                    @media screen and (min-width: 736px){
                        margin-bottom: 0;
                        width: 20%;
                    }
                    &:last-child{
                        font-weight: normal;
                        margin-bottom: 0;
                        @media screen and (min-width: 736px){
                            width: 40%;
                        }
                    }
                }
                a{
                    color: $blue2;
                }
            }
}