.news-single{
    .common-title__center{
        @include min-screen($break_point_min) {
          padding: 30px 0 60px;
        }
        .arrow-icon{
          @include min-screen($break_point_min) {
            margin-bottom: 30px;
          }
        }
      }
    overflow-wrap: break-word;
    .title-blue{
        line-height: 1;
    }
    
}