.open{
    .sec-content{
        padding-bottom: 0;
    }
    .title-head{
        span{
            padding: 0 0.5em;
            @media screen and (min-width: 736px){
                padding: 0 1em;
            }
        }
    }
    .open-title{
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        position: relative;
        margin-bottom: 30px;
        padding: 25px 0;
        box-shadow: 0px 4px 5px -3px #aeaeae;
        background-color: $white;
        color: $blue2;
        letter-spacing: 0.005em;
        line-height: 1.4;
        text-align: center;
        font-size: 30px;
    }
    .title-blue{
        line-height: 1;
        margin: 50px auto 20px;
    }
    .open-nav{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        a{
            color: $blue2;
            margin: 0 10px;
        }
    }
    .open-list_o{
        margin-left: 15px;
    }
    .open-list{
        li{
            list-style-position: inside;
            list-style-type: disc;
            margin-bottom: 10px;
        }
    }
    p{
        margin-bottom: 20px;
        &.mb5{
            margin-bottom: 5px;
        }
        strong,a{
            color: $blue2;
        }
    }

    .l-footer .l-footer__copy{
        margin-bottom: 0;
    }
}