.l-footer {
  background-color: $white;
  font-size: 12px;
  border-top: 1px solid $lightgray;
  @include min-screen($break_point_min) {
    // background-size: 1440px;
    padding: 35px 0 0 0;
    font-size: 14px;
  }

  .l-container {
    padding: 0;
    @include min-screen($break_point_min) {
      @include clearfix;
      padding: 0 20px;
    }
  }


  .footer-top {
    @include min-screen($break_point_min) {
      padding: 0 0 15px;
    }
  }
  .footer-list {
    border-bottom: 1px solid $lightgray;
    @include min-screen($break_point_min) {
      display: block;
      width: $content_width;
      margin: 0 auto 0;
      padding: 0 $content_padding;
      border: none;
      text-align: center;
      font-size: 0;
    }

    li {
      width: 50%;
      border-top: 1px solid $lightgray;
      &.footer_menu_en{
        width: 100%;
        a{
          &:before {
            // content: "";
            // display: inline-block;
            content: "-";
            color: $blue;
            display: inline-block;
          }
        }
      }
      @include min-screen($break_point_min) {
        width: auto;
        padding: 0 10px;
        display: inline-block;
        border-top: none;

        font-size: 14px;
        line-height: 1;
      }
      &:first-child {
        @include min-screen($break_point_min) {
          // border-left: 1px solid $beige;
        }
      }
      &:nth-child(odd) {
        border-right: 1px solid $lightgray;
        @include min-screen($break_point_min) {
          // border-right: none;
        }
      }
      &:last-child {
        @include min-screen($break_point_min) {
          // border-right: 1px solid $white !important;
        }
      }
    }
    a {
      color: $black;
      padding: 15px 10px;
      text-align: center;
      display: block;
      font-weight: bold;
      @include min-screen($break_point_min) {
        padding: 0;
      }
      &:before {
          content: "-";
          color: $blue;
          display: inline-block;
      }
    }
  }

  .c-pc-footer--list {
    display: none;
    @include min-screen($break_point_min) {
      display: block;
      margin: 0 auto;
      @include clearfix;
      text-align: center;
    }
    .footer--list {
      display: inline-block;
      margin-left: 40px;
      text-align: left;
      vertical-align: top;
      line-height: 1.8;
      &:first-child {
        margin-left: 0;
      }
      > li {
        font-weight: bold;
        margin-bottom: 15px;
        &:before {
          content: "-";
          color: $blue;
          display: inline-block;
          // left: 4px;
          // box-sizing: border-box;
          // width: 4px;
          // height: 4px;
          // border: 4px solid transparent;
          // border-left: 4px solid #7a0;
        }
      }
      .footer--list__child {

        > li {
          padding-left: 1.4em;
          font-weight: normal;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    @include min-screen($break_point_min) {
      margin-top: 15px;
      font-size: 14px;
    }
    .l-container {
      padding: 0;
      @include min-screen($break_point_min) {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
      }

      p {
        @include min-screen($break_point_min) {
          padding: 0;
          vertical-align: middle;
          text-align: left;
          display: inline-block;
        }
        strong:first-child{
          font-size: 16px;
        }
        strong:first-child, span{
          margin-bottom: 5px;
          display: inline-block;
        }
      }
    }

    .footer-logo {
      width: 150px;
      margin: 20px auto 15px;
      @include min-screen($break_point_min) {
        width: 190px;
        display: inline-block;
        margin: 0 25px 0 0;
      }
    }

  }

  .l-footer__copy {
    background: linear-gradient(0.2turn, $blue2 20%, $blue, $blue2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    @include min-screen($break_point_min) {
      // background-image: url(../images/footer/bg_footer@2x.png);
      background: linear-gradient(0.2turn, $blue2 20%, $blue, $blue2);
      background-size: cover;
      margin-top: 30px;
      padding: 5px 5px;
    }
    @include min-screen(1440px) {
      background-size: cover;
    }
    @include min-screen($break_point_min) {
    }
    small {
      color: $white;
      font-size: 10px;
      @include min-screen($break_point_min) {
        display: inline-block;
        font-size: 14px;
      }
    }
  }

}
