/*=========================
global-navigation button style
==========================*/

.gnav-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 46px;
  height: 100%;
  @include min-screen($break_point_min) {
    display: none;
  }
}

.gnav-btn-container {
  position: relative;
  width: 100%;
  height: 100%;

  @include min-screen($break_point_min) {

  }
}

.gnav-btn-container img {
  position: absolute;
  width: 27px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -13px;
  display: block;
  transition: all .2s;
  @include min-screen($break_point_min) {
  }
}


.gnav-btn-container.close img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  @include min-screen($break_point_min) {
  }
}

.menu-open {
  .gnav-txt__close {
    display: block;
  }
  .gnav-txt__open {
    display: none;
  }
}

/* ハンバーガーアニメーション */
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
