/*=========================
global-navigation active style
==========================*/
.home {
  .gnav-home {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}

.about {
  .gnav-about {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}

.members {
  .gnav-members {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}
.home{
  .members {
    .gnav-members {
      > a {
        &:after {
          @include min-screen($break_point_min) {
            transform: scale(0) !important;
          }
        }
      }
    }
  }
}

.open {
  .gnav-open {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}


.meetings {
  .gnav-meetings {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}

.event {
  .globalnav{
    .gnav-event {
      > a {
        &:after {
          @include min-screen($break_point_min) {
            transform: scale(1);
          }
        }
      }
    }
  }
}
.home{
  .event {
    .gnav-event {
      > a {
        &:after {
          @include min-screen($break_point_min) {
            transform: scale(0);
          }
        }
      }
    }
  }
}

.publication {
  .gnav-publication {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}

.link {
  .gnav-link {
    > a {
      &:after {
        @include min-screen($break_point_min) {
          transform: scale(1) !important;
        }
      }
    }
  }
}

/*=========================
SP Global navi
==========================*/

.sp-globalnav {
  position: absolute;
  width: 100%;
  z-index: 10;
  @include min-screen($break_point_min) {
    display: none;
  }
}
.sp-globalnav-list {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: $white;
  li {
    border-top: 1px solid $lightgray;
  }

  > li {
    a {
      display: block;
      padding: 12px;
      text-align: center;
      position: relative;

      &.child-btn {
        &:after {
          font-family: Font Awesome\ 5 Free;
          content: "\f105";
          display: block;
          position: absolute;
          top: 50%;
          right: 10px;
          font-size: 14px;
          transform: translateY(-50%);
          transition: ease 0.3s;
        }
        &.close {
          &:after {
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }
    }
  }
}

/*=========================
globalnav
==========================*/

.globalnav {
  display: none;
  @include min-screen($break_point_min) {
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
  }
  .globalnav-list {
    display: table;
    > li {
      display: table-cell;
      > a {
        display: block;
        position: relative;
        padding: 30px 21px;
        text-align: center;
        @include min-screen($break_point_min) {
          font-size: 15px;
        }
        &:hover {
          &:after {
            transform: scale(1);
          }
        }
        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 5px;
          background: linear-gradient(to right,$blue2,$blue);
          bottom: 0;
          left: 0;
          transform: scale(0);
          @include transition;
        }
        span {
          display: block;
          color: $blue;
          font-family: $montserrat;
          font-style: italic;
          font-weight: normal;
          font-size: 11px;
          letter-spacing: 0.005em;
        }
      }
      .gnav-child-btn:hover + .globalnav-childã€€{
        display: block;
      }
    }
  }

  .globalnav-child {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 82px;
    z-index: 100;
    background-color: rgba(255,255,255,0.9);
    &:hover {
      display: block;
    }
    .globalnav-child__list {
      width: 1000px;
      margin: 10px auto 0;
      text-align: center;
      > li {
        display: inline-block;
        a {
          display: block;
          padding: 30px 25px;
        }
      }
    }
  }

}


.nav-anchor-point {
  position: absolute;
  top: -73px;
  @include min-screen($break_point_min) {
    top: -97px;
  }
}
