/*=========================
common header
==========================*/

.l-header {
  .l-header-top {
    height: 5px;
    background: linear-gradient(0.2turn, $blue2 20%, $blue, $blue2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include min-screen($break_point_min) {
      background: linear-gradient(0.2turn, $blue2 20%, $blue, $blue2);
      height: auto;
      padding: 3px 0;
    }
    .fa-newspaper, .fa-envelope{
      font-size: 22px;
      margin-right: 5px;
      position: relative;
      top: 1px;
    }
    .fa-mobile-alt{
      font-size: 20px;
      margin-right: 5px;
      
    }
  }

  .l-header__title {
    line-height: 0;
    width: 136px;
    float: left;

    @include min-screen($break_point_min) {
    width: 135px;
    margin-top: 15px;
    position: relative;
  }
  @media screen and (max-width:570px) { 
    width: 110px;
}
  }

  .l-header-subnavi {
    .bogo-language-switcher{
      display: flex;
      li{
        margin: 0 5px;
        a{
          color: $white;
        }
      } 
      .en-US:after, .fr-FR:after{
        content: '|';
        color: $white;
        margin-left: 10px;
      }
    }
    display: none;
    @include min-screen($break_point_min) {
      display: flex;
      align-items: center;
      float: right;
    }
    > li {
      display: table-cell;
      padding-left: 20px;
      font-size: 12px;
      color:  $white;
      vertical-align: middle;
      a {
        display: block;
        color: $white;
      }
    }
    .subnavi-icon {
      margin-right: 5px;
    }
    .l-header-subnavi--news {

    }
    .l-header-subnavi--access {

    }
    // .l-header-subnavi--recruit {

    // }
    .l-header-subnavi--en{
      font-size: 14px;
      a {
        display: inline-block;
      }
      img{
        width: 25px;
        position: relative;
        top: -2px;
      }
    }
    .l-header-subnavi--tel {
      font-size: 18px;
      .subnavi-icon {
        padding-bottom: 3px;
      }
    }
  }

  

  .l-header-bottom {
    background-color: $white;
    padding: 10px 0;
    transition: 0.4s;
    border-bottom: 1px solid ;
    @include min-screen($break_point_min) {
      padding: 0;
    }
    &.change {
      position: fixed;
      top: -100px;
      left: 0;
      width: 100%;
      z-index: 100;
    }
    &.sticky {
      top: 0;
    }
    .l-container {
      position: static;
    }
  }

  .l-header-sp-navi {
    float: right;
    display: flex;
    margin-top: 13px;
    @include min-screen($break_point_min) {
      display: none;
    }
    @media screen and (max-width:570px) { 
      margin-top: 9px;
  }
    .bogo-language-switcher{
      display: flex;
      justify-content: center;
      align-items: center;
      .bogoflags{
        display: none;
      }
      .bogo-language-name a{
        width: 30px;
        text-indent:-9999px;
        display: block;
        background-size: cover !important;
        margin: 5px;
      }
      .en .bogo-language-name a{
        background: url(http://cyphai.io/wp/wp-content/plugins/bogo/images/flag-icons/us.png) no-repeat;
        }
      .fr .bogo-language-name a{
        background: url(http://cyphai.io/wp/wp-content/plugins/bogo/images/flag-icons/fr.png) no-repeat;
        }
      .ja .bogo-language-name a{
        background: url(http://cyphai.io/wp/wp-content/plugins/bogo/images/flag-icons/jp.png) no-repeat;
        }
      
    }
    > li {
      display: table-cell;
      vertical-align: middle;
      padding-right: 5px;
      img {
        width: 26px;
        @include min-screen($break_point_min) {
          border: none;
        }
      }
      &:last-child {
        padding-right: 0;
        img {
          width: 30px;
        }
      }
    }
    
  }

}

.pc-nav-box {
  position: relative;
}

.ja .l-header-subnavi li{
    font-size: 15px;
}
