.l-wrapper {
  overflow: hidden;
  margin: 0 auto;

  @include min-screen($break_point_min) {
    min-width: $content_width;
  }
}

.l-main {
  margin-top: 66px;
  @include min-screen($break_point_min) {
    margin-top: 84px;
  }
}

.home .l-main {
  @include min-screen($break_point_min) {
    margin-top: 70px;
  }
}


.company {
  .l-main {
    @include min-screen($break_point_min) {
      padding-bottom: 40px;
    }
  }
}


.l-container {
  margin: 0 auto;
  padding: 0 $content_padding_sp;
  position: relative;
  @include clearfix;
  @include min-screen($break_point_min) {
    padding: 0 $content_padding;
    width: $content_width;
  }
}

.l-tow__columns{
  @include min-screen($break_point_min) {
    display: flex;
  }
}

.l-contents__wrapper{
  margin: 40px 0;
}


.sec-child  {
  padding: 25px 0 45px;
  position: relative;
  &:nth-child(odd) {
    background-color: $white;
  }
  @include min-screen($break_point_min) {
    padding: 40px 0;
  }
}
