html {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

p{
	line-height: 2;
	// font-weight: 600;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: border-box;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-family: $helvetica;
	&.ja{
	font-family: $font__jp !important;
	}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
  display: inline-block;
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}


.sec-content {
	// padding: 0 0 30px;
	 @include min-screen($break_point_min) {
	//   padding: 0 0 30px;
	}
}

.block-inner {
	padding: 0 10px;
	// @include min-screen($break_point_min) {
  //   padding: 0 35px;
	// }

	&__left {
		@include min-screen($break_point_min) {
			width: 430px;
 	    // float: left;
   	}
	}

	&__right {
		@include min-screen($break_point_min) {
			width: 430px;
 	    // float: right;
   	}
	}
}
