a {
	color: $color__link;
  text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
  &:hover {
    @include min-screen($break_point_min) {
      opacity: 0.8;
    }
  }
}

.link-arrow {
  &::after {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
		margin-left: 5px;
		font-size: 12px;
    @include min-screen($break_point_min) {
      margin-top: -3px;
			margin-left: 10px;
			font-size: 16px;
    }
  }

}


/* ========================
hoverで横線が出てくるやつ
==========================*/
.c-viewlinks {
  margin: 30px 0 0 0;
  text-align: center;
  @include min-screen($break_point_min) {

  }
}

.viewlinks {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  font-size: 14px;
  @include min-screen($break_point_min) {
    font-size: 16px;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(-90deg, #9ed9ed,#d592ff,#ff9993);
    position: absolute;
    left: -100%;
    bottom: 0;
    transition: all 0.2s ease;
  }
  &::after {
    margin-left: 10px;
  }
  &:hover {
    &::before {
      left: 0;
    }
  }
}
