table {
	margin: 0 0 1em;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
	width: 100%;
}

th {
  font-weight: normal;
}

.c-table {
	line-height: 1.4;
	dl {
		margin-top: 10px;
		@include min-screen($break_point_min) {
			display: table;
			width: 100%;
		}


	  dt {
			padding: 10px;
      		background-color: $blue;
			color: $white;
			font-weight: bold;
			@include min-screen($break_point_min) {
				display: table-cell;
				padding: 15px 15px 15px 20px;
				width: 145px;
				position: relative;
			}

		}
		dd {
      padding: 10px;
			@include min-screen($break_point_min) {
				display: table-cell;
				padding: 15px 15px 15px 20px;
				border: 1px solid darken($lightgray, 2%);
			}


			p {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
