<header id="header" class="l-header">
        <div class="l-header-top">
          <div class="l-container">
            <ul class="l-header-subnavi">
              
              <li class="l-header-subnavi--en"><a href="#"><img class="subnavi-icon" src="/images/common/icon_en_s.png" srcset="/images/common/icon_en_s.png 1x,/images/common/icon_en_s@2x.png 2x" alt="">English</a> | <a href="#"><img class="subnavi-icon" src="/images/common/icon_ja_s.png" srcset="/images/common/icon_ja_s.png 1x,/images/common/icon_ja_s@2x.png 2x" alt=""> Japanese</a> | <a href="#"><img class="subnavi-icon" src="/images/common/icon_fr_s.png" srcset="/images/common/icon_fr_s.png 1x,/images/common/icon_fr_s@2x.png 2x" alt="">	French</a></li>
              <li class="l-header-subnavi--news"><a href="/news"><i class="far fa-newspaper"></i>NEWS</a></li>
              <li class="l-header-subnavi--news"><a href="/contact"><i class="far fa-envelope"></i>CONTACT</a></li>
            </ul>
          </div>
        </div>
  
        <div class="js-header-sticky l-header-bottom">
          <div class="pc-nav-box">
            <div class="l-container">
              <h1 class="l-header__title"><a href="/"><img src="/images/header/logo.png" srcset="/images/header/logo.png 1x,/images/header/logo@2x.png 2x" alt="CyPhAI"></a></h1>
  
              <ul class="l-header-sp-navi">
                <li class="en"><a href="#"><img src="/images/common/icon_en_s.png" srcset="/images/common/icon_en_s.png 1x,/images/common/icon_en_s@2x.png 2x" alt=""></a></li>
                <li class="ja"><a href="#"><img src="/images/common/icon_ja_s.png" srcset="/images/common/icon_ja_s.png 1x,/images/common/icon_ja_s@2x.png 2x" alt=""></a></li>
                <li class="fr"><a href="#"><img src="/images/common/icon_fr_s.png" srcset="/images/common/icon_fr_s.png 1x,/images/common/icon_fr_s@2x.png 2x" alt=""></a></li>
                <li><a href="contact"><img src="/images/common/icon_mail.png" srcset="/images/common/icon_mail.png 1x,/images/common/icon_mail@2x.png 2x" alt=""></a></li>
                <li id="js-menuToggle"><img src="/images/common/icon_menu.png" srcset="/images/common/icon_menu.png 1x,/images/common/icon_menu@2x.png 2x" alt=""></li>
              </ul>
  
              <nav class="globalnav">
                <ul class="globalnav-list">
                  <li class="gnav-home"><a href="/">Home<span></span></a></li>
                  <li class="gnav-about">
                    <a class="js-gnav-child gnav-child-btn" href="/about">About<span></span></a>
                  </li>
                  <li class="gnav-members"><a href="/members">Members<span></span></a></li>
                  <li class="gnav-event"><a href="/event">Event<span></span></a></li>
                  <li class="gnav-open">
                    <a class="js-gnav-child gnav-child-btn" href="/open">
                      Open position<span></span>
                    </a>
                      <div class="globalnav-child">
                        <ul class="globalnav-child__list">
                          <li><a href="/open/#japan">internships in Japan</a></li>
                          <li><a href="/open/#france">internships in France</a></li>
                        </ul>
                      </div>
  
                  </li>
              <li class="gnav-publication"><a href="/publication">Publication</a></li>
              <li class="gnav-link"><a href="/link">Link</a></li>
                </ul>
              </nav>
            </div>
          </div>
  
          <nav id="js-menu" class="sp-globalnav">
            <ul class="sp-globalnav-list">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/members">Members</a></li>
              <!-- <li><a href="#">Open positions</a></li> -->
              <li>
                <a class="js-chlid-btn child-btn" href="/open">Open positions</a>
                <ul class="sp-globanav-child">
                  <li><a href="/open/#japan">internships in Japan</a></li>
                  <li><a href="/open/#france">internships in France</a></li>
                </ul>
              </li>
              <li><a href="/meetings">Meetings</a></li>
              <li><a href="/link">Link</a></li>
            </ul>
          </nav>
  
        </div>
  
  
      </header>