<%-
  include('../common/_head', {
    page: json['contact']
  });
%>
<% include ../common/_header %>

    <main id="main" class="l-main">
        <section class="sec-content sec-case">
            <h2 class="common-title__center l-page__title"><span class="common-title__en">Contact</span><span class="arrow-icon"></span></h2>
    
            <section class="sec-child">
              <div class="l-container">
                <div class="block-inner">
                  <h2 class="title-head"><span>Contact</span></h2>
                 
                </div>
              </div>
            </section>
    
          </section>
    


    </main>
    <!-- / main -->

       

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
