<%-
  include('../common/_head', {
    page: json['members']
  });
%>
<% include ../common/_header %>

    <main id="main" class="l-main">
        <section class="sec-content sec-case">
            <h2 class="common-title__center l-page__title"><span class="common-title__en">Members</span><span></span></h2>
    
            <section class="sec-child">
              <div class="l-container">
                <div class="block-inner l-container">
                  <div class="two-columns">
                    <div class="column">
                      <h3 class="title-blue">France Team</h3> 
                      <ul class="members-list">
                        <li>Thao Dang (CNRS/Verimag, Grenoble), Principal Investigator</li>
                        <li>Nicolas Basset (UGA/Verimag, Grenoble)</li>
                        <li>Marius Bozga (CNRS/Verimag, Grenoble)</li>
                        <li>Olivier Lebeltel (CNRS/Verimag, Grenoble)</li>
                        <li class="u-mb-20">Mathias Ramparison (UGA/Verimag, Grenoble)<br></li>
                        <li>Eugene Asarin (IRIF, Université de Paris) </li>
                        <li>Aldric Degorre (IRIF, Université de Paris)  </li>
                        <li>Peter Habermehl (IRIF, Université de Paris)  </li>
                        <li>Amaury Pouly (CNRS/IRIF)</li>
                        <li class="u-mb-20">Mahsa Shirmohammadi (CNRS/IRIF)</li>
                        <li>Benoît Barbot (LACL, Université Paris-Est Créteil)</li>
                        <li class="u-mb-20">Adrien Le Coënt (LACL, Université Paris-Est Créteil)</li>
                        <li class="u-mb-20">Aneel Tanwani (CNRS/LAAS, Toulouse)</li>
                        <li>Alexandre Donzé (Decyphir, Inc.)</li>
                      </ul>
                    </div>
                    <div class="column">
                      <h3 class="title-blue">Japan Team</h3> 
                      <ul class="members-list">
                        <li>Kohei Suenaga, Principal Investigator</li>
                        <li>Masako Kishida</li>
                        <li>Taro Sekiyama</li>
                        <li>Masaki Waga</li>
                        <li>Claus Aranha</li>
                        <li>Toshimitsu Ushio</li>
                        <li>Masaki Ogura</li>
                        <li>Kazumune Hashimoto</li>
                      </ul>
                    </div>
                  </div>
                  <!-- -->
                  
                  </div>
                </div>
            </section>
    
          </section>
    


    </main>
    <!-- / main -->

       

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
