@charset "utf-8";

/* -----------------------------------------------
Slider
----------------------------------------------- */

html body .bx-viewport {
  overflow: visible!important;
}

#slider {
  width: 3000% !important;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider-wrapper-inner {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.box-slide-control {
  display: none;
  width: 100%;
  top: 50%;
  margin: 0 auto;
  position: absolute;
  margin-top: -23px;
}

.box-slide-control ul {
  position: relative;
}

.slide-prev-btn {
  position: absolute;
  top: 0;
  left: 5px;
  width: 22px;
}

.slide-next-btn {
  position: absolute;
  top: 0;
  right: 5px;
  width: 22px;
}

.slide-btn-opacity {
  opacity: 0;
}

.box-slider {
  max-width: 1000px;
  margin: 0 auto;
}

.box-slider li {
  width: 1000px;
  // padding-top: 70px;
}

/* slide contents  */

#slider li {
  position: relative;
}

#slider li span {
  position: absolute;
  top: 0;
  right: -41px;
  width: 121px;
  height: auto;
}

/* ドット スライダーナビゲーション */
.slider-nav {
  margin-top: 15px;
  text-align: center;
}

.slider-nav li {
  display: inline-block;
  margin-left: 15px;
}

.slider-nav li:first-child {
  margin-left: 0;
}

.slider-nav span {
  background-image: url('./images/top/slide_pager.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 10px;
  height: 10px;
  display: block;
}

.slider-nav .active span {
  background-image: url('./images/top/slide_pager_active.png');
  background-repeat: no-repeat;
}

@media screen and (min-width: 690px) {

.bx-viewport {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 1000px;
    z-index: 1000;
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    left: 1000px;
    z-index: 1000;
  }

}
.slider-wrapper-inner {
  // max-width: 1000px;
  /*padding-top: 65px;*/
}

.box-slide-control {
  display: block;
  width: 1000px;
  top: 50%;
  margin: 0 auto 0;
  left: 50%;
  margin-left: -500px;

}

.slide-prev-btn {
  position: absolute;
  top: 0;
  left: 15px;
}

.slide-next-btn {
  position: absolute;
  top: 0;
  right: 15px;
}

// .box-slider {
//   max-width: 1000px;
// }

.box-slider li {
  width: 1000px;
}

/* slide contents  */

#slider {
  /*padding-top: 65px;*/
}

#slider li {
  position: relative;
}

#slider li span {
  width: auto;
  top: 0;
  right: -41px;
}

/* ドット スライダーナビゲーション */
.slider-nav {
  margin-top: 40px;
}

.slider-nav li {
  display: inline-block;
  margin-left: 30px;
}

.slider-nav span {
  width: 20px;
  height: 20px;
}


}
