<%-
  include('../common/_head', {
    page: json['meetings']
  });
%>
<% include ../common/_header %>

    <main id="main" class="l-main">
        <section class="sec-content sec-case">
            <h2 class="common-title__center l-page__title"><span class="common-title__en">Meetings</span><span></span></h2>
    
            <section class="sec-child">
              <div class="l-container">
                <div class="block-inner">
                  <p class="u-ta-c u-mb-20"><span>kick-off meeting consisting of 3 parts took place virtually.</span>  </p>
                  <h3 class="title-blue">Part 1<br><span class="title-blue__sub">(18 November 2020, 9:00-11:00am FR time, 17:00-19:00 JP time)</span></h3>
                  <ul class="meetings-list">
                    <li>Introduction of new members </li>
                    <li>Project overview (Kohei) </li>
                    <li>Overview of WP1 (Eugene) 
                      <ul>
                        <li>Background</li>
                        <li>(Short-term) research plan and tasks</li>
                      </ul>
                    </li>
                    <li>Overview of WP2 (Thao) 
                      <ul>
                        <li>Background</li>
                        <li>(Short-term) research plan and tasks</li>
                      </ul>
                    </li>
                  </ul>

                  <h3 class="title-blue">Part 1<br><span class="title-blue__sub">(10 December 2020, 8:30-10:30am FR time, 16:30-18:30 JP time)</span></h3>
                  <ul class="meetings-list">
                    <li>
                      Overview of WP3 (Masaki & Benoit) 
                      <ul>
                        <li>Background</li>
                        <li>(Short-term) research plan and tasks</li>
                      </ul>
                    </li>
                    <li>
                      Overview of WP4 (Aneel & Masako)
                      <ul>
                        <li>Background</li>
                        <li>(Short-term) research plan and tasks</li>
                      </ul>
                    </li>
                  </ul>
                  <h3 class="title-blue">Part 3<br><span class="title-blue__sub"> (23 December 2020, 8:30-10:30am FR time, 16:30-18:30 JP time)</span></h3>
                  <ul class="meetings-list">
                    <ul>
                      <li>
                        Overview of WP5 (Alexandre) 
                        <ul>
                          <li>Background</li>
                          <li>(Short-term) research plan and tasks</li>
                        </ul>
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </section>
    
          </section>
    


    </main>
    <!-- / main -->

       

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
