<%-
  include('./common/_head', {
    page: json['b']
  });
%>
<% include common/_header %>







    <main id="main" class="l-main">

      <div class="mainvisual">
        <div class="slider-wrapper">
          <div class="slider-wrapper-inner">
            <div class="box-slider">
              <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 525px;"><ul id="slider" style="width: 3215%; position: relative; transition-duration: 0.5s; transform: translate3d(-2000px, 0px, 0px);"><li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 1000px;" class="bx-clone"><img class="u-sp-hide" src="/images/index/slide_03.jpg" srcset="/images/index/slide_03.jpg 1x,/images/index/slide_03@2x.jpg 2x" alt="きれいな水を世界の子供たちへ ろ過布を紡ぎ、未来を創造します。Prospects for the future."><img class="u-pc-hide" src="/images/index/slide_sp_03.jpg" srcset="/images/index/slide_sp_03.jpg 1x,/images/index/slide_sp_03@2x.jpg 2x" alt="きれいな水を世界の子供たちへ ろ過布を紡ぎ、未来を創造します。Prospects for the future."></li>
                <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 1000px;"><img class="u-sp-hide" src="/images/index/slide_01.jpg" srcset="/images/index/slide_01.jpg 1x,/images/index/slide_01@2x.jpg 2x" alt="創業45年。安心と信頼の実績。独自の技術を駆使し、オーダーメイドにて「ろ過布フィルター」を製造します。製織から加工まで、自社工場にてワンストップ製造 水処理用湿式フィルター 空調用乾式フィルター 工業用資材クロス 一般用資材クロス 土木用資材クロス"><img class="u-pc-hide" src="/images/index/slide_sp_01.jpg" srcset="/images/index/slide_sp_01.jpg 1x,/images/index/slide_sp_01@2x.jpg 2x" alt="創業45年。安心と信頼の実績。独自の技術を駆使し、オーダーメイドにて「ろ過布フィルター」を製造します。製織から加工まで、自社工場にてワンストップ製造 水処理用湿式フィルター 空調用乾式フィルター 工業用資材クロス 一般用資材クロス 土木用資材クロス"></li>
                <li aria-hidden="false" style="float: left; list-style: none; position: relative; width: 1000px;"><img class="u-sp-hide" src="/images/index/slide_02.jpg" srcset="/images/index/slide_02.jpg 1x,/images/index/slide_02@2x.jpg 2x" alt="製造工場担当の方へ 工場でお使いの「ろ過フィルター」の・もっと寿命を延ばしたい。交換の手間を減らしたい。剥離性を向上したい。コストを削減したい。「ろ過・分離」についてお困りごとを解消いたします"><img class="u-pc-hide" src="/images/index/slide_sp_02.jpg" srcset="/images/index/slide_sp_02.jpg 1x,/images/index/slide_sp_02@2x.jpg 2x" alt="製造工場担当の方へ 工場でお使いの「ろ過フィルター」の・もっと寿命を延ばしたい。交換の手間を減らしたい。剥離性を向上したい。コストを削減したい。「ろ過・分離」についてお困りごとを解消いたします"></li>
                <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 1000px;"><img class="u-sp-hide" src="/images/index/slide_03.jpg" srcset="/images/index/slide_03.jpg 1x,/images/index/slide_03@2x.jpg 2x" alt="きれいな水を世界の子供たちへ ろ過布を紡ぎ、未来を創造します。Prospects for the future."><img class="u-pc-hide" src="/images/index/slide_sp_03.jpg" srcset="/images/index/slide_sp_03.jpg 1x,/images/index/slide_sp_03@2x.jpg 2x" alt="きれいな水を世界の子供たちへ ろ過布を紡ぎ、未来を創造します。Prospects for the future."></li>
              <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 1000px;" class="bx-clone"><img class="u-sp-hide" src="/images/index/slide_01.jpg" srcset="/images/index/slide_01.jpg 1x,/images/index/slide_01@2x.jpg 2x" alt="創業45年。安心と信頼の実績。独自の技術を駆使し、オーダーメイドにて「ろ過布フィルター」を製造します。製織から加工まで、自社工場にてワンストップ製造 水処理用湿式フィルター 空調用乾式フィルター 工業用資材クロス 一般用資材クロス 土木用資材クロス"><img class="u-pc-hide" src="/images/index/slide_sp_01.jpg" srcset="/images/index/slide_sp_01.jpg 1x,/images/index/slide_sp_01@2x.jpg 2x" alt="創業45年。安心と信頼の実績。独自の技術を駆使し、オーダーメイドにて「ろ過布フィルター」を製造します。製織から加工まで、自社工場にてワンストップ製造 水処理用湿式フィルター 空調用乾式フィルター 工業用資材クロス 一般用資材クロス 土木用資材クロス"></li></ul></div><div class="bx-controls"></div></div>
            </div>
          </div>
        </div>

        <div class="box-slide-control">
          <ul>
            <li class="slide-prev-btn"><img src="/images/lib/arrow_left.png" srcset="/images/lib/arrow_left.png 1x,/images/lib/arrow_left@2x.png 2x" alt=""></li>
            <li class="slide-next-btn"><img src="/images/lib/arrow_right.png" srcset="/images/lib/arrow_right.png 1x,/images/lib/arrow_right@2x.png 2x" alt=""></li>
          </ul>
        </div>
        
      </div>

     

      <section class="sec-content top-content u-bc-lightblue">
        <h2 class="common-title__center"><span class="common-title__en">CONTENTS</span><span class="arrow-icon"></span></h2>
        <div class="l-container l-tow__columns">
            <section class="main-contents">
                <ul class="top-content-list flex-col flex-col_2">
                  <li class="top-content-list__filter">
                    <h3 class="top-content-list__title top-content-list__title--sp">About this project<span></span></h3>
                    <div class="top-content-list__pic">
                      <img src="/images/index/pic_content01.jpg" srcset="/images/index/pic_content01.jpg 1x,/images/index/pic_content01@2x.jpg 2x" alt="">
                    </div>
                    <div class="top-content-list__txt">
                      <h3 class="top-content-list__title top-content-list__title--pc">About this project<span></span></h3>
                      <p>texttexttexttext...</p>
                      <div class="c-btn c-btn__center">
                        <a class="btn" href="#">Details</a>
                      </div>
                    </div>
                  </li>
                  <li class="top-content-list__product">
                    <h3 class="top-content-list__title top-content-list__title--sp">Members<span></span></h3>
                    <div class="top-content-list__pic">
                      <img src="/images/index/pic_content02.jpg" srcset="/images/index/pic_content02.jpg 1x,/images/index/pic_content02@2x.jpg 2x" alt="">
                    </div>
                    <div class="top-content-list__txt">
                      <h3 class="top-content-list__title top-content-list__title--pc">Members<span></span></h3>
                      <p>texttexttexttexttexttexttext...</p>
                      <div class="c-btn c-btn__center">
                        <a class="btn" href="#">Details</a>
                      </div>
                    </div>
                  </li>
                  <li class="top-content-list__case">
                    <h3 class="top-content-list__title top-content-list__title--sp">Open positions<span></span></h3>
                    <div class="top-content-list__pic">
                      <img src="/images/index/pic_content03.jpg" srcset="/images/index/pic_content03.jpg 1x,/images/index/pic_content03@2x.jpg 2x" alt="">
                    </div>
                    <div class="top-content-list__txt">
                      <h3 class="top-content-list__title top-content-list__title--pc">Open positions<span></span></h3>
                      <p>texttexttexttexttexttexttext...</p>
                      <div class="c-btn c-btn__center">
                        <a class="btn" href="#">Details</a>
                      </div>
                    </div>
                  </li>
                  <li class="top-content-list__company">
                    <h3 class="top-content-list__title top-content-list__title--sp">Meetings<span></span></h3>
                    <div class="top-content-list__pic">
                      <img src="/images/index/pic_content04.jpg" srcset="/images/index/pic_content04.jpg 1x,/images/index/pic_content04@2x.jpg 2x" alt="">
                    </div>
                    <div class="top-content-list__txt">
                      <h3 class="top-content-list__title top-content-list__title--pc">Meetings<span></span></h3>
                      <p>texttexttexttexttexttexttext...</p>
                      <div class="c-btn c-btn__center">
                        <a class="btn" href="#">Details</a>
                      </div>
                    </div>
                  </li>
                </ul>
            </section>


          <section class="sub-contents">

              <div class="top-content-news">
                <h3 class="top-content-list__title"><span>news</span></h3>
                <div class="content-news__list">
    
                  
                  <dl>
                    <dt>2021/02/05</dt>
                    <dd><a href="#">News1</a></dd>
                  </dl>
                  
                  <dl>
                    <dt>2021/01/22</dt>
                    <dd><a href="#">News2</a></dd>
                  </dl>
                  
                  <dl>
                    <dt>2021/01/21</dt>
                    <dd><a href="#">News3</a></dd>
                  </dl>
                  
                  <dl>
                    <dt>2020/11/30</dt>
                    <dd><a href="#">News4</a></dd>
                  </dl>
                              </div>
                <div class="c-btn c-btn__center">
                  <a href="#" class="btn">More</a>
                </div>
              </div>
    
              <div class="top-content-links">
                <ul class="content-links-list flex-col flex-col_4">
                  <li><a href="#" target="_blank"><img src="/images/index/bnr_sample.png" alt="バナーエリア"></a></li>
                  <!-- <li><a href="#" target="_blank"><img src="/images/index/bnr_sample.png" alt="バナーエリア"></a></li>
                  <li><a href="#" target="_blank"><img src="/images/index/bnr_sample.png" alt="バナーエリア"></a></li> -->
                </ul>
              </div>

          </section>


        </div>


      </section>


    </main>
    <!-- / main -->

       

<!-- ここまでコンテンツ -->

<% include common/_footer %>
