.page-header {
  position: relative;
  background: $yellow;
  // background-repeat: no-repeat;
  // background-position: bottom center;
  // background-size: cover;
  height: 90px;
  @include min-screen($break_point_min) {
    height: 160px;
    // margin-bottom: 30px;
  }
  .page-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: bold;
    color: $black;
    text-align: center;
    line-height: 1;
    @include min-screen($break_point_min) {
      font-size: 32px;
    }
    span {
      display: block;
      font-size: 15px;
      padding-top: 8px;
      position: relative;
      @include min-screen($break_point_min) {
        padding-top: 6px;
        font-size: 17px;
      }
    }
  }
}

/* ====================
青文字タイトル
=======================*/

.title-head {
  position: relative;
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 0 auto 25px;
  @include min-screen($break_point_min) {
    margin: 0 auto 40px;
    font-size: 32px;
    padding: 0 65px;
    width: 500px;
  }
  &::before{
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background: linear-gradient(.25turn, $blue2, $blue);
    width: 100%;

  }
  span{
    position: relative;
    padding: 0 1em;
    background: $white;
    @include min-screen($break_point_min) {

    }
  }
}

.title-head__sub{
  position: relative;
  margin: 30px auto;
  color: #3e3a39;
  font-size: 17.5px;
  text-align: center;
  @include min-screen($break_point_min) {
    font-size: 24px;
    line-height: 1.7;
  }
  &::after{
    width: 75px;
    height: 4px;
    content: "";
    display: block;
    background: linear-gradient(.25turn, $blue2, $blue);
    margin: 10px auto 0;
    @include min-screen($break_point_min) {
      width: 100px;
      height: 3px;
    }
  }
}

.title-blue {
  position: relative;
  padding: 0 30px;
  margin: 60px auto 20px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: $black;
  &:after {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    // background: $blue;
    background: linear-gradient(.25turn ,$blue2, $blue);

  }
  span {
    position: relative;
    z-index: 1;
    padding: 0 1em;
    background: $lightblue;
  }
}

/* ====================
各ページMV用
=======================*/

  .common-title__center.l-page__title{
    color: $blue2;
    background-size: cover;
    padding: 40px 0 40px;
    @include min-screen($break_point_min) {
      padding: 120px 0 140px;
    }
    .arrow-icon{
        content: "";
        color: transparent;
        display: block;
        position: absolute;
        bottom: 25px;
        width: 20px;
        height: 20px;
        left: 50%;
        margin-left: -10px;
        border: 3px solid;
        border-color:  transparent transparent $blue2 $blue2;
        transform: rotate(-45deg);
        @include min-screen($break_point_min) {
          border: 3px solid;
          border-color:  transparent transparent $blue2 $blue2;
          width: 30px;
          height: 30px;
          bottom: 110px;
        }
    }
    .common-title__en{
      font-size: 26px;
      @include min-screen($break_point_min){
        font-size: 32px;
      }
    }
  }
  
  .about .common-title__center {
      background-image: url(../images/common/sp_mv_about@2x.png);
      @include min-screen($break_point_min) {
        background-image: url(../images/common/mv_about@2x.png);
      }
  }
  
  .members .common-title__center {
      background-image: url(../images/common/sp_mv_members@2x.png);
      @include min-screen($break_point_min) {
        background-image: url(../images/common/mv_members@2x.png);
      }
  }
  
  .open .common-title__center {
      background-image: url(../images/common/sp_mv_open@2x.png);
      @include min-screen($break_point_min) {
        background-image: url(../images/common/mv_open@2x.png);
      }
  }
  
  .meetings .common-title__center {
    background-image: url(../images/common/sp_mv_meetings@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/common/mv_meetings@2x.png);
    }
  }

  .event .common-title__center {
    background-image: url(../images/common/sp_mv_event@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/common/mv_event@2x.png);
    }
  }

  .publication .common-title__center {
    background-image: url(../images/common/sp_mv_publication@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/common/mv_publication@2x.png);
    }
  }

  .link .common-title__center {
    background-image: url(../images/common/sp_mv_link@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/common/mv_link@2x.png);
    }
  }

  .contact .common-title__center {
    background-image: url(../images/common/sp_mv_contact@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/common/mv_contact@2x.png);
    }
  }

  .news, .news-single{

    .common-title__center {
      padding: 30px 0;
      @include min-screen($break_point_min) {
        padding: 30px 0;
        &:after{
          background-image: none;
        }
      }
      .arrow-icon{
        @include min-screen($break_point_min) {
          bottom: 15px;
        }
      }
    }
  } 
    



/* ====================
トップページ、共通コンタクトエリア用
=======================*/

.index {
  .common-title__center {
    padding: 15px 0 45px;
    @include min-screen($break_point_min) {
      background-size: cover;
    }
    .arrow-icon{
      content: "";
      color: transparent;
      display: block;
      position: absolute;
      bottom: 25px;
      width: 20px;
      height: 20px;
      left: 50%;
      margin-left: -10px;
      border: 3px solid;
      border-color:  transparent transparent $blue2 $blue2;
      transform: rotate(-45deg);
      @include min-screen($break_point_min) {
        border: 3px solid;
        border-color:  transparent transparent $blue2 $blue2;
        width: 30px;
        height: 30px;
        bottom: 10px;
      }
  }
  }
}


.common-title__center {
  position: relative;
  margin-bottom: 30px;
  padding: 25px 0 30px;
  box-shadow: 0px 4px 5px -3px $gray;
  background-color: $white;
  color: $black;
  letter-spacing: 0.005em;
  line-height: 1.4;
  text-align: center;
  @include min-screen($break_point_min) {
    margin-bottom: 40px;
    padding: 30px 0;
    line-height: 1.4;
  }
  .common-title__en {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 32px;
    color: $blue2;
    letter-spacing: 0;
    @include min-screen($break_point_min) {
      font-size: 48px;
    }
  }
  span {
    display: block;
    font-size: 14px;
    @include min-screen($break_point_min) {
      font-size: 19px;
    }
  }
}

/* ====================
セクションタイトル
=======================*/

.sec-title {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  @include min-screen($break_point_min) {
    margin-bottom: 25px;
    padding-bottom: 20px;
    font-size: 28px;
  }

  span {
    margin-left: 7px;
    font-size: 10px;
    color: darken($gray, 20%);
    @include min-screen($break_point_min) {
      margin-left: 12px;
      font-size: 17px;
    }
  }

  &:after {
    width: 25px;
    height: 1px;
    background-color: $darkenyellow;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    @include min-screen($break_point_min) {
      width: 50px;
    }
  }
}


/* ====================
白背景のやつ
=======================*/
.sec-subtitle {
  background: #fff;
  margin-bottom: 12px;
  padding: 8px 12px 8px 1.8em;
  font-size: 16px;
  font-weight: bold;
  text-indent: -1em;
  @include min-screen($break_point_min) {
    font-size: 22px;
    margin-bottom: 30px;
  }

  &:before {
    content:"";
    display: inline-block;
    width: 4px;
    height: 19px;
    margin-right: 10px;
    background: $yellow;
    vertical-align: -4px;
    @include min-screen($break_point_min) {
      width: 5px;
      height: 30px;
      vertical-align: -6px;
    }
  }
}
