.c-pagetop {
  background: $black;
  border-bottom: 1px solid $lightblue;
  @include min-screen($break_point_min) {

  }


  a {
    display: block;
    width: 100%;
    padding: 12px 0;
    transition: all 0.2s ease;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    @include min-screen($break_point_min) {
      padding: 20px 0;
      font-size: 16px;
    }
    span {
      position: relative;
      overflow: hidden;
      img {
        margin-right: 5px;
        width: 10px;
        @include min-screen($break_point_min) {
          margin-right: 8px;
          width: 18px;
        }
      }
    }
    @include min-screen($break_point_min) {
      // width: 68px;
      // height: 68px;
    }


    &:hover {

    }


    i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%); /* Safariç”¨ */
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 20px;
      @include min-screen($break_point_min) {
        font-size: 30px;
      }
    }
  }
}
