<%-
  include('../common/_head', {
    page: json['news-single']
  });
%>
<% include ../common/_header %>

    <main id="main" class="l-main index">
        <section class="sec-content sec-case">
            <h2 class="common-title__center l-page__title"><span class="common-title__en">News</span><span class="arrow-icon"></span></h2>
    
            <section class="sec-child">
              <div class="l-container">
                <div class="c-page-description">
                    <div class="l-container">
                      <h4 class="title-blue"><span>News_title1</span></h3>
                      <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext...</p>
                    </div>
                  </div>
            </div>
        </section>
        
    
          </section>
    


    </main>
    <!-- / main -->

       

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
